# Ignore virtual environment
venv/

# Ignore compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore environment variables
.env
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db